{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="container-fluid">
  <!--pole wyszukiwania-->
  <div class="row justify-content-md-center">
    <!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search in Google" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Szukaj</button>
      </form>
    </div> -->
  </div>
  <!--początek zawartości-->
  <div class="row opacity-50">

  </div>

  <div class="row  g-3 justify-content-md-center">

      
    </div>
    <!--konice zawartości-->
  
  </div>
</div>
{% endblock %}